.section {
    display: flex;
    flex-direction: column;
    padding: 48px 0;

    @include atSmall {
        padding: 48px 12px;
    }

    @include atMedium {
        flex-direction: row;
        padding: 48px 24px;
    }

    @include atLarge {
        padding: 64px 96px;
    }
    
    @include atXLarge {   
        flex-direction: row;
        max-width: 1440px;
        margin: 0 auto;
        padding: 96px 230px;
    }
    
    &__image-wrap {
        display: flex;

        @include atMedium {
            flex: 1.5;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;      

        @include atXLarge {
            width: 505px;
        }
    }

    &__text-wrap {
        margin: 0 12px;

        @include atMedium {
            flex: 2;
        }

        @include atLarge {
            padding-left: 48px;
        }
        
        @include atXLarge {
            padding-left: 95px;
        }
    }

    &__header {
        margin-top: 30px;

        @include atMedium {
            margin-top :0;
        }

        @include atLarge {
            margin-top: 30px;
        }
    }

    &__text {
        margin-top: 24px;
    }

    &__btn {
        display: block;
        margin: 32px auto;

        @include atMedium {
            display: inline-block;
        }
        
        @include atXLarge {
            display: inline-block;
            margin-top: 32px;
        }
    }
}
