// Colors
$primary-color: #E4C1AE;
$secondary-color: #121212;
$white-color: #fff;
$text-color: #121212;
$text-white: #fff;

// Devices size
$small: 400px;
$medium: 750px;
$large: 1010px;
$xLarge: 1324px;

// Typography
$h1-font: 'Roboto', sans-serif;
$text-font: 'Roboto', sans-serif;