// imports
@import 'variables';
@import 'mixins';
@import 'section';
@import 'popup';


// global
*{
    box-sizing: border-box;
}

body,
h1,
p {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: $h1-font;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 50.5px;
}

p {
    font-family: $text-font;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.btn {
    border: none;
    cursor: pointer;

    &--primary {      
        padding: 16px 40px;
        
        color: $text-white;
        background-color: $primary-color;
        font-family: $text-color;
        font-size: 1rem;
        font-weight: 700;
    }

    &--round {
        border-radius: 32px;
    }
}

